# Analysis of Synthetic Graduate School Admission Data

## Package imports and settings

In [9950]:
import pandas as pd
import numpy as np
import scipy as sp
import math
import scipy
from sklearn import preprocessing
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.inspection import permutation_importance
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import tikzplotlib

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Import synthetic data

In [9951]:
data = pd.read_csv('../data/grad_school_synthetic_rescaled_theta_01_zeta_3.csv')

## Obtain legitimate features

In [9952]:
data_legit = data.copy()
data_legit = data_legit.drop(['Gender','Score','Label'],1)
Y = data['Label']

In [9953]:
data_legit.head()

   GRE_V  GRE_Q  GRE_AW
0  148.0  144.0     3.0
1  153.0  162.0     4.0
2  151.0  156.0     3.5
3  156.0  168.0     3.0
4  154.0  159.0     4.0

## Train RF classifier to obtain feature importances

In [9954]:
#model = RandomForestClassifier(random_state=1, criterion='gini', oob_score=True, min_samples_leaf=10)
#model.fit(data_legit, Y)

#print(model.oob_score_) #OOB score

#result = permutation_importance(model, data_legit, Y, random_state=0, n_repeats = 10)

In [9955]:
#result

## Scale importances to sum up to 1

In [9956]:
#print(0.0609/(0.0609+0.3135+0.0278))
#print(0.3135/(0.0609+0.3135+0.0278))
#print(0.0278/(0.0609+0.3135+0.0278))

## Determine SRCC

In [9957]:
#Spearman correlation
#print(sp.stats.spearmanr(data['Gender'],data['GRE_V']))
#print(sp.stats.spearmanr(data['Gender'],data['GRE_Q']))
#print(sp.stats.spearmanr(data['Gender'],data['GRE_AW']))

## Experiments

In [9958]:
data = data.drop(['Score'],1)

In [9959]:
data.head()

   Gender  GRE_V  GRE_Q  GRE_AW  Label
0       0  148.0  144.0     3.0      0
1       1  153.0  162.0     4.0      1
2       0  151.0  156.0     3.5      0
3       1  156.0  168.0     3.0      1
4       1  154.0  159.0     4.0      1

## Split data into train and test and separate label

In [9960]:
train = data.iloc[:800]
test = data.iloc[800:]

X_train = train.drop('Label',1)
X_test = test.drop('Label',1)
y_train = train['Label']
y_test = test['Label']

## Share of test labels with the positive outcome

In [9961]:
share_good_test = len(test[test.Label == 1])/len(test)

In [9962]:
share_good_test

0.535

In [9963]:
col_names = X_train.columns

## Scale training and test data to lie between 0 and 1

In [9964]:
scaler = preprocessing.MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=col_names)

X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=col_names)

In [10007]:
#X_test_scaled.head(25)

## Truncate the test features to lie between 0 and 1

In [9966]:
X_test_scaled[X_test_scaled > 1] = 1
X_test_scaled[X_test_scaled < 0] = 0

## Generate data with legitimate features only

In [9967]:
X_train_scaled_legit = X_train_scaled.drop('Gender',1)

In [9968]:
X_test_scaled_legit = X_test_scaled.drop('Gender',1)

In [9969]:
X_train_scaled_legit_array = X_train_scaled_legit.to_numpy()

## Compute feature importances for legitimate features

In [9970]:
model = RandomForestClassifier(random_state=1, criterion='gini', oob_score=True, min_samples_leaf=10)
model.fit(X_train_scaled_legit_array, y_train)
    
print('Training score:', model.score(X_train_scaled_legit,y_train)) #Training score
print('Test score:', model.score(X_test_scaled_legit,y_test)) #Test score
print('OOB score:', model.oob_score_) #OOB score
    
result = permutation_importance(model, X_train_scaled_legit, y_train, random_state=1, n_repeats = 10)
#result = permutation_importance(model, X_test_scaled_legit, y_test, random_state=1, n_repeats = 10)
#sorted_idx = result.importances_mean.argsort()

Training score: 0.71625
Test score: 0.695
OOB score: 0.6275

## Scale the feature importances to sum up to 1

In [9972]:
factor = 1/np.sum(result.importances_mean)

print('Importances mean:', np.multiply(result.importances_mean,factor))
print('Importances std:', np.multiply(result.importances_std,factor))

importance = np.multiply(result.importances_mean,factor) #Importance of legitimate features in the past

Importances mean: [0.26803311 0.48955459 0.2424123 ]
Importances std: [0.03659596 0.0456893  0.03174202]

In [9973]:
col_names_legit = X_train_scaled_legit.columns

## Calculate the absolute SRCC for legitimate features with gender

In [9974]:
#Spearman correlation
dep = np.zeros(len(col_names_legit))
dep[0] = abs(sp.stats.spearmanr(X_train_scaled['Gender'],X_train_scaled['GRE_V'])[0])
dep[1] = abs(sp.stats.spearmanr(X_train_scaled['Gender'],X_train_scaled['GRE_Q'])[0])
dep[2] = abs(sp.stats.spearmanr(X_train_scaled['Gender'],X_train_scaled['GRE_AW'])[0])

print('Spearman correlation:', dep)

Spearman correlation: [0.03726864 0.23908502 0.13342886]

In [9975]:
dep_neg = [1-x for x in dep]

## Train logistic regression models (with all features, and FTU)

### LogReg all

In [9976]:
logreg = LogisticRegression(random_state=0).fit(X_train_scaled, y_train)

In [9977]:
pred_legit_all = logreg.predict(X_test_scaled) #LogReg all test set predictions

In [9978]:
legit_all_prob = logreg.predict_proba(X_test_scaled)

In [10008]:
print('Accuracy LogReg_all on test set:', logreg.score(X_test_scaled, y_test)) #Test set accuracy for LogReg all

Accuracy LogReg_all on test set: 0.965

In [9980]:
legit_all_prob_good = legit_all_prob.transpose()[1] #Probabilites of positive outcome for LogReg all

### LogReg FTU

In [9981]:
logreg_ftu = LogisticRegression(random_state=0).fit(X_train_scaled_legit, y_train)

In [9982]:
pred_legit_ftu = logreg_ftu.predict(X_test_scaled_legit) #LogReg FTU test set predictions

In [9983]:
legit_ftu_prob = logreg_ftu.predict_proba(X_test_scaled_legit)

In [9984]:
print ('Accuracy LogReg_FTU on test set:', logreg_ftu.score(X_test_scaled_legit, y_test)) #Test set accuracy for LogReg FTU

Accuracy LogReg_FTU on test set: 0.69

In [9985]:
legit_ftu_prob_good = legit_ftu_prob.transpose()[1] #Probabilities of positive outcome for LogReg FTU

## Set up the North Star

In [9986]:
north_star = np.ones(len(X_test_scaled_legit.columns))

In [9987]:
#north_star

## Compute weighted distance ob test observations to the North Star

In [9988]:
#Weighted Manhattan Distance
def weightedManhattan(a,b,w):
    q = a-b
    return (w*np.absolute(q)).sum()

In [9989]:
temp = list()
X_test_scaled_legit_array = X_test_scaled_legit.to_numpy()

for i in range(0,len(X_test_scaled_legit_array)):
    dist = weightedManhattan(X_test_scaled_legit_array[i], north_star, importance*dep_neg)
    temp.append(dist)
    
dist = temp
dist_neg = [1-x for x in dist]

In [9990]:
#dist

## Set up new data frame and add (negative) distances to North Star plus ranking

In [9991]:
test_new = X_test.copy()
test_new['NEG_DIST_NORTH_STAR'] = dist_neg
test_new['OUR_RANK'] = test_new['NEG_DIST_NORTH_STAR'].rank(ascending=False).astype(int)

In [9992]:
#test_new

## Set $\alpha$ and assign labels accordingly

In [9993]:
temp = list()
cutoff = math.ceil(len(test_new)*share_good_test)
dist_neg_ordered = test_new['NEG_DIST_NORTH_STAR'].sort_values(ascending=False)
threshold_dist = dist_neg_ordered.iloc[cutoff]

for i in test_new['NEG_DIST_NORTH_STAR']:
    if (i > threshold_dist):
        temp.append(1)
    else:
        temp.append(0)

## Add probabilities and ranks of LogReg models plus test labels to the data frame

In [9994]:
test_new['LR_ALL_PROB_GOOD'] = legit_all_prob_good
test_new['LR_ALL_RANK'] = test_new['LR_ALL_PROB_GOOD'].rank(ascending=False).astype(int)
#test_new['LR_ALL_LABELS'] = pred_lr_all
test_new['LR_FTU_PROB_GOOD'] = legit_ftu_prob_good
test_new['LR_FTU_RANK'] = test_new['LR_FTU_PROB_GOOD'].rank(ascending=False).astype(int)
#test_new['LR_FTU_LABELS'] = pred_lr_ftu
test_new['ORIGINAL_LABELS'] = y_test

test_new = test_new.reset_index(drop=True)

In [10011]:
#test_new

## Remove sensitive information from new data frame

In [9996]:
X_test_scaled_legit_new = X_test_scaled_legit.copy()

In [9997]:
X_test_scaled_legit_new['LR_ALL_RANK'] = test_new['LR_ALL_RANK']
X_test_scaled_legit_new['LR_FTU_RANK'] = test_new['LR_FTU_RANK']
X_test_scaled_legit_new['OUR_RANK'] = test_new['OUR_RANK']
X_test_scaled_legit_new['ORIGINAL_LABELS'] = test_new['ORIGINAL_LABELS']

In [9998]:
X_test_scaled_legit_new.head()

   GRE_V  GRE_Q    GRE_AW  LR_ALL_RANK  LR_FTU_RANK  OUR_RANK  ORIGINAL_LABELS
0  0.950  1.000  0.818182            1            7         1                1
1  0.625  0.500  0.636364           69          126        94                1
2  0.600  0.425  0.636364           76          152       121                1
3  0.525  0.650  0.727273          130          115        65                0
4  0.100  0.600  0.363636           94          102       169                1

## Calculate the share of unfairly treated observations ($\mathcal{S}$) and the absolute number of occurences of meritocratic unfairness ($\mathcal{T}$)

In [9999]:
counter_LR_ALL = 0
counter_LR_FTU = 0
counter_OUR_METHOD = 0
counter_ORIGINAL = 0

#Uncomment the breaks for determining UNIQUE number of observations treated unfairly (S)
#Comment out the breaks for determining number of instances where individual unfairness occurs (T)

for i in range(0,len(X_test_scaled_legit)):
    for j in range(0,len(X_test_scaled_legit)):
        if(np.greater_equal(X_test_scaled_legit.iloc[i],X_test_scaled_legit.iloc[j]).all()):
            if(np.greater(X_test_scaled_legit.iloc[i][0],X_test_scaled_legit.iloc[j][0])
               or np.greater(X_test_scaled_legit.iloc[i][1],X_test_scaled_legit.iloc[j][1])
               or np.greater(X_test_scaled_legit.iloc[i][2],X_test_scaled_legit.iloc[j][2])
              ):
                if(np.greater(X_test_scaled_legit_new.iloc[i][3],X_test_scaled_legit_new.iloc[j][3])):
                    counter_LR_ALL = counter_LR_ALL+1
                    break

for i in range(0,len(X_test_scaled_legit)):
    for j in range(0,len(X_test_scaled_legit)):
        if(np.greater_equal(X_test_scaled_legit.iloc[i],X_test_scaled_legit.iloc[j]).all()):
            if(np.greater(X_test_scaled_legit.iloc[i][0],X_test_scaled_legit.iloc[j][0])
               or np.greater(X_test_scaled_legit.iloc[i][1],X_test_scaled_legit.iloc[j][1])
               or np.greater(X_test_scaled_legit.iloc[i][2],X_test_scaled_legit.iloc[j][2])
              ):
                if(np.greater(X_test_scaled_legit_new.iloc[i][4],X_test_scaled_legit_new.iloc[j][4])):
                    counter_LR_FTU = counter_LR_FTU+1
                    break
                    
for i in range(0,len(X_test_scaled_legit)):
    for j in range(0,len(X_test_scaled_legit)):
        if(np.greater_equal(X_test_scaled_legit.iloc[i],X_test_scaled_legit.iloc[j]).all()):
            if(np.greater(X_test_scaled_legit.iloc[i][0],X_test_scaled_legit.iloc[j][0])
               or np.greater(X_test_scaled_legit.iloc[i][1],X_test_scaled_legit.iloc[j][1])
               or np.greater(X_test_scaled_legit.iloc[i][2],X_test_scaled_legit.iloc[j][2])
              ):
                if(np.greater(X_test_scaled_legit_new.iloc[i][5],X_test_scaled_legit_new.iloc[j][5])):
                    counter_OUR_METHOD = counter_OUR_METHOD+1
                    break
                    
for i in range(0,len(X_test_scaled_legit)):
    for j in range(0,len(X_test_scaled_legit)):
        if(np.greater_equal(X_test_scaled_legit.iloc[i],X_test_scaled_legit.iloc[j]).all()):
            if(np.greater(X_test_scaled_legit.iloc[i][0],X_test_scaled_legit.iloc[j][0])
               or np.greater(X_test_scaled_legit.iloc[i][1],X_test_scaled_legit.iloc[j][1])
               or np.greater(X_test_scaled_legit.iloc[i][2],X_test_scaled_legit.iloc[j][2])
              ):
                if(np.less(X_test_scaled_legit_new.iloc[i][6],X_test_scaled_legit_new.iloc[j][6])):
                    counter_ORIGINAL = counter_ORIGINAL+1
                    break

In [10000]:
print('Individual (ranking) unfairness LogReg_all:', counter_LR_ALL)
print('Individual (ranking) unfairness LogReg_FTU:', counter_LR_FTU)
print('Individual (ranking) unfairness Our Method:', counter_OUR_METHOD)
print('Individual (ranking) unfairness Test Set:', counter_ORIGINAL)

Individual (ranking) unfairness LogReg_all: 1631
Individual (ranking) unfairness LogReg_FTU: 1364
Individual (ranking) unfairness Our Method: 0
Individual (ranking) unfairness Test Set: 1257

## Label predictions of the LogReg models and our method for given threshold $\alpha$

In [10001]:
X_test_scaled_legit_new.head()

   GRE_V  GRE_Q    GRE_AW  LR_ALL_RANK  LR_FTU_RANK  OUR_RANK  ORIGINAL_LABELS
0  0.950  1.000  0.818182            1            7         1                1
1  0.625  0.500  0.636364           69          126        94                1
2  0.600  0.425  0.636364           76          152       121                1
3  0.525  0.650  0.727273          130          115        65                0
4  0.100  0.600  0.363636           94          102       169                1

In [10002]:
#alpha = [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
alpha = [share_good_test]

label_LR_ALL = list()
label_LR_FTU = list()
label_OUR_METHOD = list()

for alpha in alpha:
    cutoff = alpha*len(X_test)
    for i in range(0,len(X_test)):
        if(np.less_equal(X_test_scaled_legit_new.iloc[i][3],cutoff)):
            label_LR_ALL.append(1)
        else:
            label_LR_ALL.append(0)
        if(np.less_equal(X_test_scaled_legit_new.iloc[i][4],cutoff)):
            label_LR_FTU.append(1)
        else:
            label_LR_FTU.append(0)
        if(np.less_equal(X_test_scaled_legit_new.iloc[i][5],cutoff)):
            label_OUR_METHOD.append(1)
        else:
            label_OUR_METHOD.append(0)
    X_test_scaled_legit_new['LR_ALL_LABELS_' + str(alpha)] = label_LR_ALL
    X_test_scaled_legit_new['LR_FTU_LABELS_' + str(alpha)] = label_LR_FTU
    X_test_scaled_legit_new['OUR_LABELS_' + str(alpha)] = label_OUR_METHOD
    
    label_LR_ALL = list()
    label_LR_FTU = list()
    label_OUR_METHOD = list()

In [10003]:
X_test_scaled_legit_new.head()

,GRE_V,GRE_Q,GRE_AW,LR_ALL_RANK,LR_FTU_RANK,OUR_RANK,ORIGINAL_LABELS,LR_ALL_LABELS_0.535,LR_FTU_LABELS_0.535,OUR_LABELS_0.535
0,0.950,1.000,0.818182,1,7,1,1,1,1,1
1,0.625,0.500,0.636364,69,126,94,1,1,0,1
2,0.600,0.425,0.636364,76,152,121,1,1,0,0
3,0.525,0.650,0.727273,130,115,65,0,0,0,1
4,0.100,0.600,0.363636,94,102,169,1,1,1,0

## Determine the accuracy of our method on the test labels (for $\alpha$ set to the share of observations with positive outcome in the test set)

In [10004]:
#Accuracy of our method
#Look at alpha=0.75 (change above)

our_labels = X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)]
original_labels = X_test_scaled_legit_new['ORIGINAL_LABELS']

accuracy_ours = (our_labels == original_labels).mean()
print(accuracy_ours)

0.62

## Group fairness (demographic parity) for original LogReg predictions and our method

### Admission ratio female:male

In [10005]:
#Ratio of admitted males to females
X_test_scaled_legit_new['Gender'] = X_test_scaled['Gender']
X_test_scaled_legit_new['LR_ALL_LABELS'] = pred_legit_all
X_test_scaled_legit_new['LR_FTU_LABELS'] = pred_legit_ftu


print('Rejected females (LogReg All):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 0)]))
print('Accepted females (LogReg All):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)]))
print('Rejected males (LogReg All):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 0)]))
print('Accepted males (LogReg All):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)]))
print('Accepted Female/Male (LogReg All):', (len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)]))/(len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)])))
print('----------')
print('Rejected females (LogReg FTU):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 0)]))
print('Accepted females (LogReg FTU):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)]))
print('Rejected males (LogReg FTU):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 0)]))
print('Accepted males (LogReg FTU):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)]))
print('Accepted Female/Male (LogReg FTU):', (len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)]))/(len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)])))
print('----------')
print('Rejected females (Our Method):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 0)]))
print('Accepted females (Our Method):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)]))
print('Rejected males (Our Method):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 0)]))
print('Accepted males (Our Method):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)]))
print('Accepted Female/Male (Our Method):', (len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)]))/(len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)])))
print('----------')
print('Rejected females (Test Labels):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 0)]))
print('Accepted females (Test Labels):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)]))
print('Rejected males (Test Labels):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 0)]))
print('Accepted males (Test Labels):', len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)]))
print('Accepted Female/Male (Test Labels):', (len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)]))/(len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)])))

Rejected females (LogReg All): 92
Accepted females (LogReg All): 0
Rejected males (LogReg All): 0
Accepted males (LogReg All): 108
Accepted Female/Male (LogReg All): 0.0
----------
Rejected females (LogReg FTU): 62
Accepted females (LogReg FTU): 30
Rejected males (LogReg FTU): 37
Accepted males (LogReg FTU): 71
Accepted Female/Male (LogReg FTU): 0.4225352112676056
----------
Rejected females (Our Method): 51
Accepted females (Our Method): 41
Rejected males (Our Method): 42
Accepted males (Our Method): 66
Accepted Female/Male (Our Method): 0.6212121212121212
----------
Rejected females (Test Labels): 89
Accepted females (Test Labels): 3
Rejected males (Test Labels): 4
Accepted males (Test Labels): 104
Accepted Female/Male (Test Labels): 0.028846153846153848

### Admission rates by gender

In [10006]:
#Admission rates by gender

reject_females_logreg_all = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 0)])
accept_females_logreg_all = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)])
reject_males_logreg_all = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 0)])
accept_males_logreg_all = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_ALL_LABELS'] == 1)])

reject_females_logreg_ftu = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 0)])
accept_females_logreg_ftu = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)])
reject_males_logreg_ftu = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 0)])
accept_males_logreg_ftu = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['LR_FTU_LABELS'] == 1)])

reject_females_our = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 0)])
accept_females_our = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)])
reject_males_our = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 0)])
accept_males_our = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['OUR_LABELS_' + str(share_good_test)] == 1)])

reject_females_test = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 0)])
accept_females_test = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 0) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)])
reject_males_test = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 0)])
accept_males_test = len(X_test_scaled_legit_new[(X_test_scaled_legit_new['Gender'] == 1) & (X_test_scaled_legit_new['ORIGINAL_LABELS'] == 1)])

print('Admission rate females (LogReg All):', accept_females_logreg_all/(accept_females_logreg_all+reject_females_logreg_all))
print('Admission rate males (LogReg All):', accept_males_logreg_all/(accept_males_logreg_all+reject_males_logreg_all))
print('----------')
print('Admission rate females (LogReg FTU):', accept_females_logreg_ftu/(accept_females_logreg_ftu+reject_females_logreg_ftu))
print('Admission rate males (LogReg FTU):', accept_males_logreg_ftu/(accept_males_logreg_ftu+reject_males_logreg_ftu))
print('----------')
print('Admission rate females (Our Method):', accept_females_our/(accept_females_our+reject_females_our))
print('Admission rate males (Our Method):', accept_males_our/(accept_males_our+reject_males_our))
print('----------')
print('Admission rate females (Test Labels):', accept_females_test/(accept_females_test+reject_females_test))
print('Admission rate males (Test Labels):', accept_males_test/(accept_males_test+reject_males_test))

Admission rate females (LogReg All): 0.0
Admission rate males (LogReg All): 1.0
----------
Admission rate females (LogReg FTU): 0.32608695652173914
Admission rate males (LogReg FTU): 0.6574074074074074
----------
Admission rate females (Our Method): 0.44565217391304346
Admission rate males (Our Method): 0.6111111111111112
----------
Admission rate females (Test Labels): 0.03260869565217391
Admission rate males (Test Labels): 0.9629629629629629